<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mateo.Firebasepro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.mateo.Firebasepro.AppFireBaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.example.mateo.Firebasepro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mateo.Firebasepro.LoginActivity" />
        <activity android:name="com.example.mateo.Firebasepro.PublicarActivity" />
        <activity android:name="com.example.mateo.Firebasepro.RegistrarActivity" />
        <activity android:name="com.example.mateo.Firebasepro.ModificarActivity"></activity>
    </application>

</manifest>